.App-header {
    font-size: calc(10px + 2vmin);
    color: white;
}

.search-bar {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1rem;
}

.search-bar input {
    width: 100%;
    border: none;
    background: transparent;
    color: white;
    font-size: 1.2rem;
}

input:focus {
    border: none;
    outline: none;
}

button:focus {
    border: none;
    outline: none;
}

.search-bar button {
    border: none;
    background: transparent;
    color: white;
}

.spacer {
    flex: 1 1 auto;
}

main {
    margin-top: 1rem;
}

.main-content {
    overflow-y: scroll;
    max-height: calc(100vh - 2rem - 2px - 1rem - 2rem - 1rem);
}

.content {
    display: grid;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: auto auto auto auto;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
}

.card img {
    width: 100%;
    flex-basis: 80%;
}

.card h4 {
    width: 100%;
    text-align: center;
    background: white;
    margin: 0;
    color: black;
    padding: 1rem 0;
    flex-basis: 20%;
}

.load-more {
    width: 100%;
    margin: 1rem 0;
    background: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5rem 0;
}
